Source: org.pimalaya.himalaya
Maintainer: Chen Linxuan <me@black-desk.cn>
Section: devel
Priority: optional
Standards-Version: 4.6.2
Build-Depends: wget,
               debhelper-compat (= 13)

Package: org.pimalaya.himalaya
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Himalaya convert from github release
