[Desktop Entry]
StartupWMClass=dev.neovide.neovide
Type=Application
Name=Neovide
GenericName=Text Editor
Comment=No Nonsense Neovim Client in Rust.
TryExec=/opt/dev.neovide.neovide/bin/neovide
Exec=neovide %U
Icon=neovide
Categories=Utility;TextEditor;Development;IDE;
Keywords=neovide;nvim;neovim
MimeType=text/plain;inode/directory;
