Source: io.neovim.neovim
Maintainer: Chen Linxuan <me@black-desk.cn>
Section: devel
Priority: optional
Standards-Version: 4.6.2
Build-Depends: wget,
               debhelper-compat (= 13)

Package: io.neovim.neovim
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Neovim convert from github release
